@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

body{
  background-color: rgb(173, 216, 230);
  font-family: "Arial", sans-serif;
  border: 5px solid;

}
main{
  font-family: "Open Sans", "Roboto", "Arial", sans-serif;
  color: rgb(0,0,0);
}
a:link{
  color: rgb(0,0,255);
}
a:visited{
  color: rgb(127,0,255);
}
a:hover{
  color: rgb(255,0,0);
}
a:active{
  color: rgb(255,255,0);
}
header{
  margin: 7px;
}
#home-intro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}
#home-intro-words{
  grid-column: 1;
  grid-row: 1;
  margin: 7px;
  max-width: 60ch;
  word-wrap: break-word;
}
#world-globe{
  grid-column: 2;
  grid-row: 1;
  margin: 7px;
}
#world-globe img{
  width: 300px;
  height: 300px;
}
#home-surf{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}
#home-surf-words{
  grid-column: 2;
  grid-row: 1;
  margin: 7px;
  max-width: 60ch;
  word-wrap: break-word;
}
#maldives-atolls{
  grid-column: 1;
  grid-row: 1;
  margin: 7px;
}
#maldives-atolls img{
  width: 300px;
  height: 300px;
}
#home-soccer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}
#home-soccer-words{
  grid-column: 1;
  grid-row: 1;
  margin: 7px;
  max-width: 60ch;
  word-wrap: break-word;
}
#camp-nou{
  grid-column: 2;
  grid-row: 1;
  margin: 7px;
}
#camp-nou img{
  width: 300px;
  height: 300px;
}
