body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  grid-template-areas:
    "masthead   masthead"
    "intro      intro"
    "geography  geography"
    "people-and-society  people-and-society"
    "footer     footer"
}

header{
  grid-area: masthead;
}

#intro{
  grid-ara: intro;
}

#geography{
  grid-area: geography;
}

#people-and-society{
  grid-area: people-and-society;
}

footer{
  grid-area: footer;
}
