body{
  background-color: rgb(255, 255, 204);
  font-family: "Arial", sans-serif;
}

#canada-flag img{
  width: 300px;
  height: 150px;
}
#intro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
}
#intro h2
#canada-flag{
  grid-column: 1;
  grid-row: 1;
  margin: 0px;

}
#history{
  grid-column: 1;
  grid-row: 3;
  max-width: 60ch;
  white-space: initial;
}

#political-challanges{
  grid-column: 2;
  grid-row: 3;
  max-width: 60ch;
  white-space: initial;
}
